<div ui-view="header" xmlns:text-align="http://www.w3.org/1999/xhtml"
     xmlns:text-align="http://www.w3.org/1999/xhtml" xmlns:background-color="http://www.w3.org/1999/xhtml"
     xmlns:background-color="http://www.w3.org/1999/xhtml" xmlns:background-color="http://www.w3.org/1999/xhtml"></div>

<div>
    <h2 align="center" style="padding-right:150px; color: #376f9e">Jumbo Stores Map 1.0</h2>
    <br>
    <!--<button type="submit" ng-click="startReport()">Report</button>-->
    <div ng-controller="mainController">

        <div class="row">
            <div class="col-sm-2" class="mainmenu">
                <ul class="nav nav-tabs nav-stacked nav-pills" role="tablist">
                    <li ng-class="{'active': view_tab == 'geo'}">
                        <a class="btn-lg" ng-click="changeTab('geo')" href="">Map</a>
                    </li>

                    <li ng-class="{'active': view_tab == 'settings'}">
                        <a class="btn-lg" ng-click="changeTab('settings')" href="">Settings</a>
                    </li>
                </ul>


            </div>

            <div class="col-sm-10" style="padding-left: 5px">

                <div ng-show="view_tab == 'geo'" style="" id="dns">

                    <div id="side_bar">
                        <span>Address:</span>&nbsp;&nbsp;<input id="address" type="text" ng-model="address"/>

                        <span style="margin-left: 80px; margin-right: 30px;">
                        Show&nbsp;
                            <select name="show" ng-model="showPlaces" ng-change="onChangeShowPlaces()"
                                    convert-to-number>
                                <option ng-repeat="itm in choosePlacesNumber"
                                        value="{{itm.number}}"
                                        ng-selected="{{itm.number == showPlaces}}">{{itm.text}}</option>
                            </select>
                            &nbsp;Places on on map
                     </span>

                        <button type="button" id="search" ng-click="onFindPlaces()">Show items</button>
                    </div>

                    <div id="map">

                    </div>

                    <div id="info"></div>

                </div>


                <div ng-show="view_tab == 'settings'">

                    <div style="margin-top: 60px">

                        <table>

                            <tr>
                                <td>
                                    Address
                                </td>
                                <td style="width: 100px">
                                    :
                                </td>
                                <td>
                                    <b>
                                        <input type="text" ng-disabled="true"
                                               value="{{defaultAddress}}"/>
                                    </b>

                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Show items
                                </td>
                                <td style="width: 100px">
                                    :
                                </td>
                                <td>
                                    <b>
                                        <input type="text" ng-disabled="true"
                                               value="{{defaultShowPlaces}}"/>
                                    </b>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    Data file
                                </td>
                                <td style="width: 100px">
                                    :
                                </td>
                                <td>
                                    <b>
                                        <input type="text" ng-disabled="true"
                                               value="{{itemsFile}}"/>
                                    </b>
                                </td>
                            </tr>
                        </table>
                    </div>


                </div>


            </div>

        </div>
    </div>
</div>

</div>
</div>


<div id="confirmBox" class="modal">
    <div class="modal-content">

        <div class="message"></div>
        <button class="yes" style="width: 50px">OK</button>
        &nbsp;
        <button class="no">Cancel</button>

    </div>
</div>

<div id="confirmBoxStop" class="modal">
    <div class="modal-content">

        <div class="message"></div>
        <button class="yes" style="width: 50px">OK</button>
        &nbsp;
        <button class="no">Cancel</button>

    </div>
</div>


<div id="alertBox" class="modal">
    <div class="modal-content">

        <div class="message"></div>
        <button class="yes" style="width: 50px">OK</button>

    </div>
</div>



